<!DOCTYPE html>
<html>
<head>
    {% IF title %}
    <title>{{ title }}</title>
    {% ELSE %}
    <title>Posts</title>
    {% ENDIF %}
</head>
<body>
    <nav>
        <div style="margin-bottom: 20px; display: flex; justify-content: center;">
            <a href="/" style="margin-left: 10px">Home</a>
            <a href="/about" style="margin-left: 10px">About</a>
            <a href="/register" style="margin-left: 10px">Register</a>
            <a href="/login" style="margin-left: 10px">Log In</a>
            <a href="/profile" style="margin-left: 10px">Profile</a>
            <a href="/logout" style="margin-left: 10px">Log Out</a>
        </div>
    </nav>
    {% block %}
    {% endblock %}
</body>
</html>