<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <div style="display: flex; justify-content: center;">
        <form action="" method="post">
            <p>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" required>
            </p>
            <p>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </p>
            <button type="submit">Log In</button>
        </form>
    </div>
</body>
</html>

